.post {
  width: 32%;
  border: 1px solid;
  min-height: 200px;
  text-align: center;
  margin: 8px 0;
  position: relative;
}

.post__title {
  background: #ddd;
  padding: 5px;
  margin: 0 0 15px 0;
}

.post__date {
  display: block;
  margin: 5px 0;
}
